* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.calculator {
  width: min-content;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 2.1rem;
  border-radius: 1rem;
  background: #4b5568;

  .description {
    font-size: 2rem;
    margin: 0.8rem;
    margin-bottom: 1.2rem;
    color: #fff;
    text-align: right;
    min-height: 5rem;
  }

  &-screen {
    font-family: 'Orbitron';
    text-align: right;
    padding: 1rem;
    font-size: 4.5rem;
    margin: 0.5rem 0.8rem 1rem 0.8rem;
    background-color: #b2c2b3;

    &__input {
      font-family: 'Orbitron';
      background-color: #b2c2b3;
      height: 44px;
      text-align: left;
      outline: none;
      width: 100%;
      border: none;
      font-size: 3rem;
    }

    .answer-value {
      text-align: right;
    }
  }

  &-keyboard {
    display: flex;
    flex-direction: column;

    &__function-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      .function-btn {
        color: #fff;
        background: #202742;
        width: 6.11rem;
        margin: 1.4rem 0.8rem;
        border-radius: 1.1rem;
        font-size: 1.3rem;
        height: 4.1rem;
        border: none;
      }
    }

    &__keys-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      .calculator-keyboard__key {
        font-family: Verdana;
        background: #888fa1;
        color: #fff;
        width: 8rem;
        height: 4.5rem;
        margin: 1rem 0.6rem;
        font-size: 2.2rem;
        border: none;
        cursor: pointer;
        border-radius: 1rem 1rem 1.8rem 1.8rem;
        outline: none;
        &:hover {
          opacity: 0.6;
        }
      }

      .clear-btn {
        background-color: maroon;
      }
    }
  }
}
